.bar.svelte-137gu9q { transition: opacity 0.25s ease-out; }
button.svelte-137gu9q { cursor: pointer; }
span.svelte-137gu9q, button.svelte-137gu9q { font-size: 0.6875rem; line-height: 1; text-transform: uppercase; }
div.svelte-137gu9q > div:where(.svelte-137gu9q) > div:where(.svelte-137gu9q) { background-color: currentcolor; transform: scaleX(0); }
